.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.redux-data {
  display: flex;
  justify-content: space-between;
}
.redux-data p {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.redux-data button {
  font-size: 20px;
}
